
<app-reactive-form (sendForm)="getFormData($event)"></app-reactive-form>

<div class="container mt-3 mb-4">
  <table class="table table-primary">
    <thead>
      <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Confirm Password</th>
        <th>Mobile Number</th>
        <th>State</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userForm; let i = index">
        <td>{{i + 1}}</td>
        <td>{{user.fullName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
        <td>{{user.confirmPassword}}</td>
        <td>{{user.mobileNumber}}</td>
        <td>{{user.state}}</td>
        <td>{{user.city}}</td>
      </tr>
    </tbody>
  </table>
</div>
