<!-- <app-parent></app-parent> -->

<!-- <app-product-list></app-product-list> -->

<!-- <app-display-list></app-display-list> -->

<!-- <app-show-user-details></app-show-user-details> -->

 <!-- <app-employee-list></app-employee-list> -->

<!-- <app-show-data></app-show-data> -->


<!-- <app-data-shareing-practice-parent></app-data-shareing-practice-parent> -->

<!-- <app-send-counter></app-send-counter> -->

<!-- <app-registration-form></app-registration-form> -->


<!-- practice 29M  -->

<!-- <app-parent-render-list></app-parent-render-list> -->

<!-- <app-table></app-table> -->

<!-- <app-joutputparent></app-joutputparent> -->


<!-- task  -->

<app-userdetails></app-userdetails>
<!-- <app-show-data></app-show-data> -->

<!-- <app-display-reactiveform></app-display-reactiveform> -->

